@import "variables.scss";

/* Body
-------------------------------------------------------------- */

body {
  @extend .clearfix;
  font-family: $font-regular;
  background: url("../images/body-bg.png") repeat-x $white;
  margin: 0;
  padding: 0;
  color: $black;
  min-height: 100%;
}

.page{
  height: 100%;
  //margin-bottom: -150px;
}

header{
  @extend .clearfix;
  background: $white;
  padding-bottom: 20px;
  #block-hudson-branding{
    float: left;
  }
}

footer{
  @extend .clearfix;
  background: $gray;
  padding-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -150px;
  .site-branding{
    float: left;
    .site-name{
      a{
        color: $gray-light;
      }
    }
  }
  .search-block-form{
    form{
      input[type="search"]{
        background: $gray;
      }
    }
  }
}


/* Logo
-------------------------------------------------------------- */
.site-branding{
  .site-logo{
  display: inline-block;
  vertical-align: top;
  a{
    display: block;
  }
  img{
    max-width: 100px;
    max-height: 100px;
    height: auto;
    display: block;
  }
}
  .site-name {
  font-family: $font-light;
  font-size: 40px;
  line-height: 44px;
  color: $gray-light;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  margin: 15px 0 0 0;
  a {
    @extend .transition;
    color: inherit;
    &:hover {
      color: $gray-light-ccc;
    }
  }
}
}

/* Search
-------------------------------------------------------------- */
.search-block-form{
  overflow: hidden;
  float: right;
  margin-top: 10px;
  form{
    @extend .clearfix;
    .form-search {
      font-family:$font-book;
      border-left: 1px solid $gray-light;
    }
  }
}


/* Navigation
-------------------------------------------------------------- */
nav.main-navigation{
  background: $white;
  width:100%;
  ul.menu{
    @include wrapper;
    @extend .clearfix;
    text-align: right;
    li{
      display: inline-block;
    }
    a{
      @extend .transition;
      font-size: 12px;
      line-height: 1.2;
      color: $gray-light;
      text-align: center;
      padding: 2px 10px;
      margin: 0;
      display: block;
      &:hover{
        background: $gray-light;
        color: $white;
      }
      &.is-active{
        background: $gray-light;
        color: $white;
      }
    }
  }
}
.navigation{
  border-bottom: 15px solid $white;
  nav.main-navigation{
    background: $white;
    position: relative;
    width:100%;
    clear: both;
    ul.menu{
      @include wrapper;
      @extend .clearfix;
      display: table;
      width: 100%;
      //-webkit-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.75);
      //-moz-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.75);
      //box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.75);
      li{
        display: table-cell;
        a{
          @extend .transition;
          font-family: $font-regular;
          font-size: 16px;
          line-height: 20px;
          color: $gray-light;
          text-transform: uppercase;
          text-align: center;
          padding: 5px 0;
          margin: 0;
          display: block;
          border-bottom: 1px solid $white;
          &:hover{
            background: none;
            border-bottom: 1px solid $gray-light;
          }
          &.is-active{
            background: none;
            border-bottom: 1px solid $gray-light;
          }
        }
      }
    }
  }
}


/* Components
-------------------------------------------------------------- */
.subscribe{
  margin: 5px 0;
  a{
    color: $gray-light;
  }
}
ul.menu-local-tasks{
  margin: 20px 0;
  border-bottom: 1px solid $gray-light;
  li{
    background: $gray;
    display: inline-block;
    a{
      @extend .transition;
      color: $white;
      display: block;
      padding: 2px 10px;
      border: 1px solid $gray;
      border-bottom:none;
      &:hover{
        border: 1px solid $gray-light;
        border-bottom:none;
        background: $white;
        color: $gray-light;
      }
      &.is-active{
        border: 1px solid $gray-light;
        border-bottom:none;
        background: $white;
        color: $gray-light;
      }
    }
  }
}
nav.breadcrumb{
  margin: 10px 0;
  li{
    display: inline-block;
    &:after{
      content: '>';
      display: inline-block;
      color: $gray-light;
    }
    &:last-child{
      &:after{
        display: none;
      }
      a{
        font-family:$font-bold;
        color: $gray;
      }
    }
  }
  a{
    font-family: $font-book;
    color: $gray-light;
  }
}
#block-hudson-powered{
  display: inline-block;
  text-align: center;
  width:100%;
  margin: 20px 0;
  font-size: 12px;
  span{
    a{
      font-family:$font-bold;
      color: $black;
    }
  }
}

/* Page
-------------------------------------------------------------- */
.hero{
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  //background: url("../images/slideshow-shadow.png") no-repeat center bottom;
  //padding-bottom: 80px;
  //-webkit-background-size: 200%;
  //background-size:200%;

  .views-field-field-hero{
    max-height: 650px;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

main.content{
  a{
    color: $gray;
    font-size: 16px;
  }
  .contextual-region{
    margin-bottom: 50px;
  }
  .block-hudson-content{
    //position: relative;
    //padding-top: 20px;
    //padding-bottom: 20px;
    //margin-bottom: 50px;
    //border-top: 1px solid $gray-light-2;
    //border-bottom: 1px solid $gray-light-2;
  }
  article{
    margin-bottom: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.50);
    h2{
      font-size: 20px;
      font-family: $font-light;
      text-transform: uppercase;
    }
    img{
      margin: 0 auto;
      display: block;
      max-width: 500px;
      height: auto;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    .links.inline{
      text-align: center;
      margin: 10px 0;
      a{
        color: $blue;
        border-bottom: 1px dotted;
      }
    }
  }

  .outer-quickedit-field{
/*    &>div{
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 10px;
      font-family: $font-bold;
    }
    .quickedit-field{
      @extend .clearfix;
      &>div{
        float: left;
        width: 25%;
      }
      &>div:first-child, &>div:nth-child(6n){
        position: relative;
        width: 50%;
        &:after{
          content: '';
          position: absolute;
          width: 5px;
          height: 100%;
          background: $white;
          top: 0;
          right: 0;
        }
      }
    }*/
  }

  .view-video{
    @extend .clearfix;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    .views-row{
      float: left;
      width: 100%;
    }
    .field-content{
      @extend .clearfix;
    }
    .video-embed-field-responsive-video{
      position: relative;
      float: left;
      width: 25%;
    }
    .video-embed-field-responsive-video:first-child,
    .video-embed-field-responsive-video:nth-child(6n){
      width: 50%;
      &:before{
        content: '';
        z-index: 1;
        position: absolute;
        width: 5px;
        height: calc(100% + 1px);
        background: $white;
        top: 0;
        right: 0;
      }
    }
  }
}


